@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

.header {
  font-family: 'Hahmlet', serif;
  background-color: #dbf1f6;
}

.assignments_header {
  background-color: #ffffff;
}

.explanation_header {
  font-family: 'Hahmlet', serif;
  background-color: #dbf1f6;
}

.assign_explanation {
  width: 600px;
  height: 400px;
  margin: 1rem;
  margin-right: 2ch;
}
